# EJERCICIOS PYTON

### Ejercicio 1:
Solicita al usuario que ingrese dos números enteros y luego muestra la suma de esos números.

In [ ]:
a = int(input('Introduce un numero: '))
b = int(input('introduce otro numero: '))
print(f'El resultado de {a} + {b} es {a+b}')

Introduce un numero: 3
introduce otro numero: 4
El resultado de 3 + 4 es 7

### Ejercicio 2:
Pide al usuario su peso en kilogramos y su altura en metros. Calcula el índice de masa corporal(BMI) usando la fórmula: BMI = peso / (altura * altura). Luego, muestra el resultado.

In [ ]:
peso = int(input('introduce tu peso en kg: '))
altura = float(input('introduce tu altura en metros: '))
print(f'Tu indice de masa corporal es {round(peso / altura**2,2)}')

introduce tu peso en kg: 64
introduce tu altura en metros: 1.7
Tu indice de masa corporal es 22.15

### Ejercicio 3:
Toma una cadena de texto como entrada y muestra la longitud de la cadena, el primer y último
carácter, y la cadena en mayúsculas.

In [ ]:
cadena = input('introduce un texto: ')
print(f'Longitud de la cadena: {len(cadena)}\nPrimer caracter: {cadena[0]}\nUltimo caracter: {cadena[-1]}\nCadena en mayusculas: {cadena.upper()}')

introduce un texto: hola
Longitud de la cadena: 4
Primer caracter: h
Ultimo caracter: a
Cadena en mayusculas: HOLA

### Ejercicio 4:
Solicita al usuario una temperatura en grados Celsius y conviértela a grados Fahrenheit
utilizando la fórmula: Fahrenheit = (Celsius * 9/5) + 32.

In [ ]:
temperatura = int(input('introduce una temperatura en grados celsius: '))
print(f'{temperatura}ºC = {temperatura*9/5+32}ºF')

introduce una temperatura en grados celsius: 40
40ºC = 104.0ºF

### Ejercicio 5:
Genera una lista de los primeros 10 números pares (utilizando un bucle for) y muestra la lista
resultante.

In [ ]:
pares = [i*2 for i in range(1,21)]
print(pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

### Ejercicio 6:
Crea una tupla con tres colores de tu elección y muestra el segundo color de la tupla.

In [ ]:
colores = ('rojo', 'azul', 'verde')
print(f'El segundo color de la tupla es {colores[1]}')

El segundo color de la tupla es azul

### Ejercicio 7:
Crea dos conjuntos con elementos repetidos y realiza la unión, la intersección y la diferencia
entre ellos.

In [ ]:
conj1 = {2,6,5,2}
conj2 = {3,5,7,3}
print(f'Union: {conj1.union(conj2)}\nInterseccion: {conj1.intersection(conj2)}\nDiferencia: {conj1.difference(conj2)}')

Union: {2, 3, 5, 6, 7}
Interseccion: {5}
Diferencia: {2, 6}

### Ejercicio 8:
Crea un diccionario que almacene los nombres y números de teléfono de tus contactos. Luego,
permite al usuario buscar un contacto por nombre y mostrar su número.

In [ ]:
contactos = {
    'Jose': 645119774,
    'Carmen' : 611472665,
    'Ruben' : 611482295
}
request = input('Dime un nombre registrado en tus contactos: ')
print(f'El numero de telefono de {request} es {contactos[request]}')

Dime un nombre registrado en tus contactos: Carmen
El numero de telefono de Carmen es 611472665

### Ejercicio 9:
Pide al usuario que ingrese dos valores booleanos (True o False) e imprime el resultado de las
operaciones lógicas AND, OR y NOT entre esos valores.

In [ ]:
mBooleanos = {
    'T' : True,
    'F' : False
}

opcion1 = mBooleanos[input('Introduce T o F: ').upper()]
opcion2 = mBooleanos[input('Vuelve a introducir T o F: ').upper()]

print(f'AND: {opcion1 & opcion2}\nOR: {opcion1 | opcion2}\nNOT: opcion1={not opcion1}, opcion2 = {not opcion2}')

Introduce T o F: t
Vuelve a introducir T o F: f
AND: False
OR: True
NOT: opcion1=False, opcion2 = True

### Ejercicio 10:
Toma un número como entrada y conviértelo a entero, flotante y cadena. Luego, muestra los
resultados en diferentes líneas.

In [ ]:
numero = input('introduce un numero')
print(f'Entero: {int(numero)}\nFlotante: {float(numero)}\nCadena: {list(numero)}')

introduce un numero5
Entero: 5
Flotante: 5.0
Cadena: ['5']

### Ejercicio 11:
Solicita al usuario que ingrese una cadena de texto y luego cuenta y muestra la cantidad de
caracteres alfabéticos (letras) en la cadena.

In [ ]:
cadena = input('Introduce un texto con numeros y letras: ')
cadena = [i for i in cadena if i.isalpha()]
print(f'La cantidad de letras en el texto es {len(cadena)}')

Introduce un texto con numeros y letras: h3ola56567567
La cantidad de letras en el texto es 4

### Ejercicio 12:
Crea una lista de números y calcula la suma de todos los elementos de la lista.

In [ ]:
numeros = [4,7,6,2,9]
print(f'La suma de la lista de numeros: {numeros} es {sum(numeros)}')

La suma de la lista de numeros: [4, 7, 6, 2, 9] es 28

### Ejercicio 13:
Pide al usuario que ingrese una cadena de texto y reemplaza todas las ocurrencias de un carácter
específico en la cadena por otro carácter.

In [ ]:
cadena = input('Introduce un texto: ')
caracter = input('Dime que caracter quieres cambiar: ')
reemplazo = input('Por que caracter quieres reemplazarlo: ')
print(cadena.replace(caracter,reemplazo))

Introduce un texto: Hola mi nombre es Jose
Dime que caracter quieres cambiar: o
Por que caracter quieres reemplazarlo: a
Hala mi nambre es Jase

### Ejercicio 14:
Pide al usuario su fecha de nacimiento (año, mes y día) y calcula cuántos días ha vivido hasta la
fecha actual.

In [ ]:
import datetime

nacimiento = datetime.date(int(input('En que año naciste? ')),int(input('En que mes naciste?(En numero) ')),int(input('Que dia naciste? ')))
diasVividos = datetime.date.today() - nacimiento
print(f'has vivido {diasVividos.days} dias')

En que año naciste? 2002
En que mes naciste?(En numero) 10
Que dia naciste? 1
has vivido 7659 dias

### Ejercicio 15:
Crea una lista desordenada de números y ordénala de menor a mayor sin usar la función
sorted().

In [41]:
lista = [45,2,25,89]
for j in lista:
  for k in lista[lista.index(j):]:
    if(j > k):
      i = lista.index(k)
      lista[lista.index(j)], lista[i] = lista[lista.index(k)], lista[lista.index(j)]
print(f'Lista ordenada: {lista}')

Lista ordenada: [2, 25, 45, 89]

### Ejercicio 16:
Solicita al usuario que ingrese las calificaciones de un estudiante en tres asignaturas diferentes
y calcula el promedio de las calificaciones.

In [ ]:
notas = input('Dime tres notas que hayas obtenido en tus asignaturas separadas por una coma: ').split(',')
notas = list(map(lambda x: int(x),notas))
print(f'El promedio de las asignaturas es {sum(notas)/len(notas)}')

Dime tres notas que hayas obtenido en tus asignaturas separadas por una coma: 9,2,7
El promedio de las asignaturas es 6.0

### Ejercicio 17:
Pide al usuario dos fechas (en formato "dd/mm/aaaa") y calcula la diferencia en días entre las
dos fechas.

In [ ]:
import datetime
fInt = lambda x:int(x)
sF1 = input('Introduce una fecha en formato dd/mm/aaaa: ')
sF2 = input('Introduce otra fecha en formato dd/mm/aaaa: ')
f1 = list(map(fInt,sF1.split('/')))
f2 = list(map(fInt,sF2.split('/')))

restaDias = datetime.date(f1[2], f1[1], f1[0]) - datetime.date(f2[2], f2[1], f2[0])
print(f'entre las fechas {sF1} y {sF2} hay {abs(restaDias.days)} dias')

Introduce una fecha en formato dd/mm/aaaa: 01/10/2002
Introduce otra fecha en formato dd/mm/aaaa: 05/10/2002
entre las fechas 01/10/2002 y 05/10/2002 hay 4 dias

### Ejercicio18:
Crea una lista inicial llamada mi_lista con los siguientes elementos: [5, 2, 7, 1, 8].
Realiza las siguientes operaciones utilizando los métodos de lista en Python:
1. Agrega los números 10 y 3 al final de la lista mi_lista.
2. Inserta el número 4 en la posición 2 de la lista mi_lista.
3. Elimina el número 7 de la lista.
4. Elimina un elemento de la lista en la posición 1 y almacena el valor eliminado en una
variable llamada elemento_eliminado.
5. Encuentra el índice del número 8 en la lista y almacénalo en una variable llamada indice.
6. Cuenta cuántas veces aparece el número 4 en la lista y almacena el resultado en una
variable llamada conteo.
7. Ordena la lista mi_lista en orden ascendente.
8. Invierte el orden de los elementos en la lista mi_lista.
9. Borra todos los elementos de la lista mi_lista.

Al finalizar las operaciones, muestra la lista resultante y los resultados de las operaciones
mencionadas, como el elemento eliminado, el índice de 8 y la cantidad de veces que aparece 4
en la lista.

In [ ]:
lista = [5, 2, 7, 1, 8]
lista.append(10)
lista.append(3)
lista.insert(1,4)
lista.remove(7)
elemento_eliminado = lista[0]
lista.remove(elemento_eliminado)
indice = lista.index(8)
conteo = lista.count(4)
lista.sort()
mi_lista = lista.copy()
mi_lista.reverse()
mi_lista.clear()
print(f'Lista: {lista}\nElemento eliminado: {elemento_eliminado}\nIndice del 8: {indice}\nCantidad de ocurrencias del 4: {conteo}')

Lista: [1, 2, 3, 4, 8, 10]
Elemento eliminado: 5
Indice del 8: 3
Cantidad de ocurrencias del 4: 1

### Ejercicio 19:
Supongamos que estás trabajando con información sobre el rendimiento de la Selección
Femenina de Fútbol de España durante la útlima temporada. Cada registro de rendimiento se
almacena como una tupla que contiene la siguiente información:
- El nombre de la jugadora (cadena de texto)
- El número de camiseta de la jugadora (número entero positivo)
- La cantidad de goles anotados por la jugadora en la temporada (número entero positivo)

Realiza las siguientes operaciones utilizando tuplas en Python:
1. Crea al menos cinco tuplas de rendimiento de jugadoras distintas con datos ficticios.
2. Almacena todas las tuplas en una lista llamada registro_rendimiento.
3. Escribe una función llamada promedio_goles que calcule y devuelva el promedio de
goles anotados por todas las jugadoras en el registro de rendimiento.
4. Escribe una función llamada mejor_goleadora que identifique y devuelva el nombre de
la jugadora con la mayor cantidad de goles anotados.
5. Escribe una función llamada buscar_jugadora que tome como entrada el número de
camiseta de una jugadora y devuelva el nombre de la jugadora y la cantidad de goles
que anotó, si ese número de camiseta existe en el registro de rendimiento. De lo
contrario, debe devolver un mensaje que indique que la jugadora no está en el registro.
Luego, utiliza estas funciones para mostrar el promedio de goles, a la mejor goleadora y buscar
información sobre jugadoras específicas en el registro de rendimiento.

In [1]:
j1 = ('Jimena',18,7)
j2 = ('Adriana',4,1)
j3 = ('Paula',82,0)
j4 = ('Miriam',0,0)
j5 = ('Carmen',3,3)

registro_rendimiento = [j1,j2,j3,j4,j5]
promedio_goles = lambda : sum([jugadora[2] for jugadora in registro_rendimiento]) / len(registro_rendimiento)
mejor_goleadora = lambda : [jGol[0] for jGol in registro_rendimiento if jGol[2] == max([jugadora[2] for jugadora in registro_rendimiento])][0]
buscar_jugadora = lambda camiseta: j[0] if len(j := [f'{jugadora[0]}: {jugadora[2]} goles' for jugadora in registro_rendimiento if jugadora[1] == camiseta]) != 0 else 'La jugadora no existe'
print(f'Promedio de goles: {promedio_goles()}')
print(f'Jugadora con mas goles: {mejor_goleadora()}')
print(f'Buscando jugadora que existe: {buscar_jugadora(3)}')
print(f'Buscando jugadora que no existe: {buscar_jugadora(1)}')

Promedio de goles: 2.2
Jugadora con mas goles: Jimena
Buscando jugadora que existe: Carmen: 3 goles
Buscando jugadora que no existe: La jugadora no existe

### Ejercicio 20:
Supongamos que tienes dos conjuntos que representan a dos grupos de estudiantes interesados en diferentes asignaturas en una universidad. Cada conjunto contiene los números de identificación de los estudiantes (pas) que están inscritos en las asignaturas respectivas.
Realiza las siguientes operaciones utilizando conjuntos en Python:
1. Crea dos conjuntos llamados grupo_a y grupo_b con al menos cinco números de identificación de estudiantes en cada uno. Asegúrate de incluir algunos estudiantes en ambos grupos para simular la superposición de intereses en ciertas asignaturas.
2. Escribe una función llamada estudiantes_comunes que tome como entrada los conjuntos grupo_a y grupo_b y devuelva un conjunto que contenga los números de identificación de los estudiantes que están inscritos en ambas asignaturas.
3. Escribe una función llamada estudiantes_unidos que tome como entrada los conjuntos grupo_a y grupo_b y devuelva un conjunto que contenga todos los números de identificación de los estudiantes de ambos grupos, sin duplicados.
4. Escribe una función llamada estudiantes_exclusivos que tome como entrada los conjuntos grupo_a y grupo_b y devuelva un conjunto que contenga los números de identificación de los estudiantes que están inscritos en una asignatura, pero no en la otra.
5. Utiliza las funciones que has creado para mostrar los siguientes resultados:
  - Los números de identificación de los estudiantes que están inscritos en ambas asignaturas.
  - Los números de identificación de todos los estudiantes en ambos grupos (sin duplicados).
  - Los números de identificación de los estudiantes que están inscritos en una asignatura, pero no en la otra.

In [8]:
grupo_a = {1491,6287,4199,3326,8812}
grupo_b = {9052,4711,1491,8561,3326}
estudiantes_comunes = lambda conjunto_a, conjunto_b: set([alumno for alumno in conjunto_a if alumno in conjunto_b])
estudiantes_unidos = lambda conjunto_a, conjunto_b: set(list(conjunto_a) + list(conjunto_b))
estudiantes_exclusivos = lambda conjunto_a, conjunto_b: set([alumno for alumno in conjunto_a if alumno not in conjunto_b] + [alumno for alumno in conjunto_b if alumno not in conjunto_a])
print(estudiantes_unidos(grupo_a, grupo_b))
print(estudiantes_comunes(grupo_a, grupo_b))
print(estudiantes_exclusivos(grupo_a, grupo_b))

{4199, 4711, 8812, 6287, 8561, 1491, 9052, 3326}
{1491, 3326}
{4711, 4199, 8812, 6287, 8561, 9052}

### Ejercicio 21:
Imagina que estás creando un programa para registrar y gestionar información sobre Pokémon.
Tu tarea es diseñar un programa en Python que utilice diccionarios para realizar las siguientes
operaciones:
1. Crea un diccionario llamado pokedex que almacene información sobre varios Pokémon.
Cada clave en el diccionario debe ser el nombre de un Pokémon y cada valor debe ser otro diccionario que contenga la siguiente información:
  - Tipo del Pokémon (por ejemplo, "Fuego", "Agua", "Planta", etc.).
  - Puntos de salud (HP) del Pokémon.
  - Puntos de ataque (ATK) del Pokémon.
  - Puntos de defensa (DEF) del Pokémon.
2. Escribe una función llamada mostrar_informacion_pokemon que tome como entrada
el nombre de un Pokémon y muestre en la consola la información completa del
Pokémon, incluyendo su tipo, HP, ATK y DEF.
3. Escribe una función llamada agregar_pokemon que permita agregar un nuevo Pokémon
a la pokedex. La función debe tomar como entrada el nombre del Pokémon, su tipo, HP,
ATK y DEF, y agregar esta información al diccionario pokedex.
4. Escribe una función llamada eliminar_pokemon que permita eliminar un Pokémon de
la pokedex dado su nombre.
5. Escribe una función llamada mostrar_catalogo que muestre un catálogo de todos los
Pokémon en la pokedex, incluyendo solo los nombres de los Pokémon.
6. Crea una instancia de la pokedex con al menos tres Pokémon.
7. Realiza operaciones para mostrar información, agregar, eliminar y mostrar el catálogo
de Pokémon en la pokedex

In [ ]:
pokedex = {
"Charizard": {"Tipo": "Fuego", "HP": 78, "ATK": 84,
"DEF": 78},
"Blastoise": {"Tipo": "Agua", "HP": 79, "ATK": 83,
"DEF": 100},
"Venusaur": {"Tipo": "Planta", "HP": 80, "ATK": 82,
"DEF": 83}
}

mostrar_informacion_pokemon = lambda nombre: print(f'{nombre} --> Tipo: {pokedex[nombre]["Tipo"]}, HP: {pokedex[nombre]["HP"]}, ATK: {pokedex[nombre]["ATK"]}, DEF: {pokedex[nombre]["DEF"]}') if pokedex.get(nombre) != None else print('El pokemon no existe en la pokedex')
def agregar_pokemon (nombre, tipo, hp, atk, defe):
  pokedex[nombre] = {'Tipo': tipo, 'HP': hp, 'ATK': atk, 'DEF': defe}
def eliminar_pokemon(nombre):
  del(pokedex[nombre])
mostrar_catalogo = lambda: print(tuple(pokedex.keys()))

mostrar_informacion_pokemon('Blastoise')
eliminar_pokemon('Blastoise')
mostrar_catalogo()
agregar_pokemon("Blastoise","Agua",79,83,100)
mostrar_catalogo()

Blastoise --> Tipo: Agua, HP: 79, ATK: 83, DEF: 100
('Charizard', 'Venusaur')
('Charizard', 'Venusaur', 'Blastoise')

### Ejercicio 22:
Crea un programa en Python que modele una biblioteca utilizando conceptos de programación
orientada a objetos. Debes definir dos clases principales: Libro y Biblioteca.
1. La clase Libro debe tener las siguientes propiedades:
  - Título del libro.
  - Autor del libro.
  - Año de publicación del libro.
  
Además, la clase Libro debe tener un método llamado mostrar_informacion que imprima en la consola la información completa del libro en el siguiente formato:
```
        Título: [Título del libro]
        Autor: [Autor del libro]
        Año de Publicación: [Año de publicación]
```
2. La clase Biblioteca debe tener las siguientes propiedades:
  - Nombre de la biblioteca.
  - Lista de libros disponibles (una lista de objetos de la clase Libro). La clase Biblioteca debe tener los siguientes métodos:
  - agregar_libro(libro): Agrega un libro a la lista de libros disponibles en la biblioteca.
  - prestar_libro(titulo): Marca un libro como prestado (elimina el libro de la lista de disponibles) y devuelve el objeto Libro correspondiente.
  - devolver_libro(libro): Recibe un libro prestado y lo agrega de nuevo a la lista de libros disponibles.
  - mostrar_catalogo(): Muestra el catálogo completo de libros disponibles en la biblioteca, utilizando el método mostrar_informacion de la clase Libro para mostrar la información detallada de cada libro.
3. Crea una instancia de la clase Biblioteca llamada mi_biblioteca con un nombre de tu elección.
4. Crea al menos tres instancias de la clase Libro con información ficticia y agrégalas a la biblioteca mi_biblioteca.
5. Realiza operaciones de préstamo y devolución de libros utilizando los métodos de la clase Biblioteca. Muestra el catálogo actualizado después de cada operación.

In [21]:
class Libro:
  def __init__(self, titulo, autor, anio_publicacion) -> None:
    self.titulo = titulo
    self.autor = autor
    self.anio_publicacion = anio_publicacion

  def mostrar_informacion(self) -> None:
    print(f'Título: {self.titulo}\nAutor: {self.autor}\nAño de Publicación: {self.anio_publicacion}\n')

class Biblicoteca:
  def __init__(self, nombre, libros = []) -> None:
    self.nombre = nombre
    self.libros = libros

  def agregar_libro(self, libro) -> None:
    self.libros.append(libro)

  def prestar_libro(self,titulo) -> Libro:
    libro_elegido = [libro for libro in self.libros if libro.titulo][0]
    self.libros.remove(libro_elegido)
    return libro_elegido
  def devolver_libro(self,libro) -> None:
    self.agregar_libro(libro)

  def mostrar_catalogo(self) -> None:
    for libro in self.libros: libro.mostrar_informacion()

mi_biblioteca = Biblicoteca('Biblioteca1')
l1 = Libro('Libro1', 'Unamuno', 1980)
l2 = Libro('Libro2', 'Einstein', 2001)
l3 = Libro('Libro3', 'Michael Phelps', 1542)
mi_biblioteca.agregar_libro(l1)
mi_biblioteca.agregar_libro(l2)
mi_biblioteca.agregar_libro(l3)
libro_prestado = mi_biblioteca.prestar_libro('Libro1')
mi_biblioteca.prestar_libro('Libro2')
mi_biblioteca.devolver_libro(libro_prestado)
mi_biblioteca.mostrar_catalogo()

Título: Libro3
Autor: Michael Phelps
Año de Publicación: 1542

Título: Libro1
Autor: Unamuno
Año de Publicación: 1980